body {
    background: black;
    
}



.Chat {


display: block;
position: relative;
/* border: 4px rgb(44, 173, 18) solid; */

}

.Chat h1 {
    text-align: center;
    color: white;
    font-family: 'Satisfy', cursive;
    font-size: 150px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    
    
   
   }

#zone_chat strong {

    color: black;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    padding: 2px;
    
            }

 

.Chatpart2 {
    display: flex;
    position : relative;
    /* border: 4px yellow solid; */
    width: 80%;
    
    
    margin-left: 10%;
    margin-bottom: 30vh;
    

}



.Chatpart2 .formulaire {
    display:block;
    position: relative;
    /* border: 4px rgb(116, 238, 1) solid; */
    height: auto;
    margin-top : 5%;
    width: 40vw;
    left:5vw;

    
    
   

}

#message {

width:100%;

margin-bottom: 2vh;
border-radius:50px 50px;
height: 50px;
border : none;
outline: none;
padding: 25px;

}

#envoi_message {
    width:20%;
    height: 100%;
    border-radius:50px 50px;
    border : none;
    margin-left: 34vw;
    

    background: url("images/avionpapier.png"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

    
}



.PartieCHAT {

    /* border: 4px blue solid; */
    height : auto;
    width: 100%;
    
}

#zone_chat {

    display:flex;
    flex-direction: column;
    
    
    width: 39vw;
    left:6vw;
    /* top:3vw; */
    margin-top: 4vw;
    padding: 30px;
    
    
    height: 33vw;
    overflow:auto;
    
    
    
     
    /* background-color:red; */
     /* border: 4px rgb(0, 0, 0) solid; */
     
 
 
 }

 

 .fondchat {

    display:flex;
    position: relative;
    width: 40vw;

    left:5vw;
    
    
    background-color:rgb(255, 255, 255,0.93);
    height: 40vw;
     
     
     /* border: 4px blue solid; */
     border-radius:50px 50px;
 
 
 }

.Chatpart2 .listeconnection {

    display:flex;
    position: absolute;
    
    width: 28vw;
    left:50vw;
    top:0.5vh;
    
    
    height: 100%;
    overflow:auto;
    /* border: 4px blue solid; */
    
    
     
    background: url("images/Fond2.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 




}
 
#volet {
	width: 70%;
    padding: 40px;
    height: 100%;
    background: rgb(17, 16, 16); color: #fff;
    position: absolute;
    /* left: -270px;  */
    border-radius:0px 50px 50px 0px;
    
    -webkit-transition: all .5s ease-in;
	transition: all .5s ease-in;
}
#volet a.ouvrir,
#volet a.fermer { 
	
	background:  rgb(17, 16, 16);
	color: #fff;
    text-decoration: none;
    position: absolute;
	right: -20%;
    top: 40%;
    width: 40%;
    height:16%;
    
    /* quelques styles CSS3 */
	-ms-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);

	border-radius: 0 0 8px 8px;
}

#volet:target {
	left: 0;
}

#volet a.fermer {
	display: none;
}

#volet_clos:target #volet {
	left: -75%;
}

#volet:target a.ouvrir {
	display: none;
}
#volet:target a.fermer {
	display: block;
}

#users {

color: white;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    padding: 2px;

}


